// Main

main {
    @include column;
    padding: 0 0 25rem;
    position: relative;
    z-index: 1;

    .main-bg-clip {
        box-shadow: 0 0.5rem 1rem #636363;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#fff 0%, #eee 70%, #ddd 100%);
        transform: skewY(-3deg);
    }
}

// Sidebar

#sidebar {
    @include column;
    flex: 1;
    position: relative;
    top: 40vh;
    background: $about-bg;
    color: #fff;
    text-align: center;
    border: 0.0625rem solid #000;
    border-radius: 1rem;
    padding-bottom: 0.5rem;
    margin: 0 2rem 0;
    box-shadow: 0 0 0.5rem #000;

    // Bio

    .bio {
        @include column;
        padding-bottom: 1rem;

        h2 {
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            padding: 0.7rem 0;
            margin-top: -3rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        img {
            position: relative;
            top: -4.5rem;
            width: 40%;
            border: 0.25rem double $tertiary-color;
            border-bottom: 0.25rem solid $tertiary-color;
            border-radius: 50%;
            transition: 0.5s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }

        }

    }

    ul {
        display: flex;

        li {
            margin: 1rem;
        }

        i.fa {
            color: #fff;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $primary-color;
                transform: scale(1.2);
            }

        }

    }

    // About

    #about {
        @include column;

        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 1.25rem;
            padding: 1rem 2rem;
        }

    }

}

// Projects

#projects {

    @include column;
    position: relative;
    top: 50vh;
    flex: 3;

    h2 {
        color: $secondary-color;
        background: linear-gradient(to bottom, #006C90 0%, #1d1e2b 20%, #006C90 30%, #1d1e2b 60%, #006C90 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3.33rem;
        padding: 1rem 0;
    }

    .grid {
        @include column;

        .card {
            margin: 2rem 1rem 0;
            height: auto;
            max-width: 90vw;

            figure {
                @include column

                a {
                    @include column

                    h3 {
                        color: $secondary-color;
                        font-size: 2.25rem;
                    }

                    img, #canvasPort {
                        background: #ccc;
                        position: relative;
                        top: 0;
                        width: 100%;
                        height: auto;
                        padding: 0;
                        margin: 1rem 0;
                        border-radius: 3rem;
                        transition: 0.5s ease-in-out;
                        box-shadow: 0.1rem 0.1rem 0.25rem #636363;
                        z-index: 100;

                        &:hover {
                            top: -0.75rem;
                            transform: scale(1.05);
                            opacity: 1;
                            box-shadow: 0.5rem 0.5rem 1rem #636363;
                        }
                    }

                    canvas#canvasPort {
                        background-image: radial-gradient(circle at top left, #52E5E7 10%, #130CB7 100%);
                        width: 90vw;
                        max-width: 90vw;
                        height: 40vh;
                    }

                }

            }

            &:first-of-type {
                align-self: flex-start;
                margin-top: 2rem;

            }

        }

    }

    #githubBtn {
        position: relative;
        top: 0;
        font-size: 1rem;
        max-width: 60vw;
        margin: 3rem 0;
        padding: 1rem;
        border: 0.25rem solid $secondary-color;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem #636363;
        transition: 0.5s ease-out;

        a {
            color: $secondary-color;
        }

        &:hover {
            top: 0.25rem;
            background: $secondary-color;
            box-shadow: none;

            a {
                color: #fff;
            }
        }

    }

}

// Media Queries

@media (min-width: 80rem) {

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        grid-template-areas:
          "sidebar projects projects projects";
        padding-bottom: 10rem;

        #sidebar {
            grid-area: sidebar;
            top: -20vh;
        }

        #projects {
            grid-area: projects;
            top: 6rem;

            .grid {
                flex-flow: row wrap;
                justify-content: space-around;

                .card {
                    width: 30vw;

                    figure a canvas#canvasPort {
                        width: 100%;
                        height: 46vh;
                        min-width: 30vw;
                        max-width: 30vw;
                    }

                }

            }

        }

    }

}

@media (min-width: 60rem) and (max-width: 80rem) {

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        grid-template-areas:
        "sidebar projects projects projects";
        padding-bottom: 10rem;

        #sidebar {
            top: -15vh;
        }

        #projects {
            top: 6rem;

            .grid {
                flex-flow: row wrap;
                justify-content: space-around;

                .card {
                    width: 30vw;

                    figure a canvas#canvasPort {
                        width: 100%;
                        height: 46vh;
                        min-width: 30vw;
                        max-width: 30vw;
                    }

                }

            }

        }

    }

}

@media (min-width: 40rem) and (max-width: 60rem) {

    #projects .grid {

        .card {

            p {
                font-size: 2rem;
            }

            figure a canvas#canvasPort {
                width: 100%;
                height: 60vh;
                min-width: 90vw;
                max-width: 90vw;
            }

        }

    }

}

@media (max-width: 25rem) {

    #projects .grid {

        img {
            width: 70vw;
        }

        .card figure a canvas#canvasPort {
            width: 100%;
            height: 30vh;
            min-width: 90vw;
            max-width: 90vw;
        }

    }

}

@media (min-width: 60rem) {

    #projects .grid .card {
        width: 30vw;
    }

}
