// Mixins

@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@mixin btn {
    background-color: #fff;
    color: #333;
    padding: 1rem;
    border: 0.2rem solid $primary-color;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: 0.5s ease-in-out;
}

@mixin code-box {
    margin: 0;
    padding: 0.25rem 0;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

@mixin skewed {
    position: relative;
    &::after {
        content:'';
        display: block;
        width: 100%;
        height: 50px;
        position: absolute;
        transform: skewY(-12deg);
        @content;
    }
}