* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Source Sans Pro", sans-serif; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none; }

textarea {
  width: auto; }

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #eee;
  padding: 3rem 0; }

.brand {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin-left: 3rem; }
  .brand a {
    display: flex;
    transition: 0.5s ease-in-out; }
  .brand a:hover {
    transform: scale(1.3); }

.btn {
  background-color: #fff;
  color: #333;
  padding: 1rem;
  border: 0.1rem solid #666;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  transition: 0.3s ease-in-out; }

.btn:hover {
  border: 0.3rem solid #00b5f0;
  color: #00b5f0;
  transform: scale(1.1); }

.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #666;
  font-size: 1rem;
  margin: 0 1rem; }
  .card h3 {
    font-size: 1.33rem;
    padding: 0 0 1rem; }
  .card img {
    max-width: 75%;
    padding: 1rem;
    border-radius: 10%; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.divider {
  display: none; }

header {
  position: fixed;
  background: #1d1e2b;
  color: #fff;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.33rem 2rem;
  z-index: 99; }
  header h1 {
    font-size: 1rem; }
  header a {
    color: #fff;
    transition: color 0.5s ease; }
  header a:hover {
    color: #00b5f0; }
  header ul {
    display: flex;
    list-style: none;
    margin-right: 3rem; }
  header li {
    font-size: 1.33rem;
    margin: 0 1rem;
    opacity: 0.75;
    color: #fff;
    transition: 0.5s ease-in-out; }
  header li:hover {
    opacity: 1;
    color: #00b5f0;
    transform: scale(1.3); }

main {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0 0 0; }

.bio {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bio h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 0.7rem 0;
    margin: 1rem 1rem 0; }
  .bio h3 {
    font-size: 1.5rem; }
  .bio img {
    width: 30%;
    border-radius: 50%;
    display: flex;
    transition: 0.5s ease-in-out;
    opacity: 0.85; }
  .bio img:hover {
    transform: scale(1.1);
    opacity: 1; }

#sidebar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 2;
  color: #333;
  text-align: center; }
  #sidebar ul {
    display: flex; }
  #sidebar li {
    margin: 1rem; }
  #sidebar i.fa {
    color: #333;
    transition: 0.5s ease-in-out; }
  #sidebar i.fa:hover {
    color: #00b5f0;
    transform: scale(1.5); }

#about {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 4rem; }
  #about h3 {
    font-size: 2rem; }
  #about p {
    font-size: 1.33rem;
    padding: 1rem 2rem;
    line-height: 1.5; }
  #about .btn {
    font-size: 0.8rem;
    width: 30%;
    align-self: center; }

#projects {
  display: flex;
  flex: 5;
  color: #00b5f0; }
  #projects a {
    color: #006C90; }
  #projects h2 {
    font-size: 3rem; }
  #projects h3 {
    font-size: 2rem; }
  #projects h4 {
    font-size: 2rem;
    padding: 3rem 1rem 0rem 1rem; }
  #projects .grid {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    #projects .grid .card {
      margin-top: 3rem; }
    #projects .grid img {
      width: 18.75rem;
      height: 18.75rem;
      padding: 0;
      margin: 1rem;
      max-width: 30vw;
      border: 0.0625rem solid #ccc;
      border-radius: 5rem;
      transition: 0.5s ease-in-out;
      opacity: 0.75; }
    #projects .grid img:hover {
      transform: scale(1.1);
      opacity: 1; }

#blog {
  background: #efefef;
  color: #333; }
  #blog h2 {
    font-size: 2rem;
    padding-bottom: 3rem; }
  #blog .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    #blog .grid li {
      margin: 1rem; }
    #blog .grid img {
      width: 40vw;
      height: 50vh;
      border-radius: 0.5rem;
      opacity: 0.6;
      transition: 0.5s ease-in-out; }
    #blog .grid img:hover {
      opacity: 1; }

#contact {
  background: #1d1e2b; }
  #contact p {
    font-size: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1; }
  #contact .btn {
    background: #fff;
    width: 80%;
    border-radius: 1rem;
    padding: 1rem; }
  #contact canvas {
    position: absolute;
    right: 0; }

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1; }

#contact form input, textarea {
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.125rem;
  color: #555;
  border-radius: 1rem; }

#contact form textarea {
  width: 100%;
  resize: both;
  overflow: auto; }

#contact form input:focus, textarea:focus {
  border: 0.2rem solid #00b5f0; }

#contact form .btn {
  width: 80%; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #006C90;
  color: #fff;
  padding: 1.25rem 0; }
  footer ul {
    list-style: none;
    display: flex; }
  footer ul li {
    margin-left: 1rem; }
  footer p {
    text-transform: uppercase;
    font-size: 0.875rem;
    align-self: center; }
  footer i.fa {
    color: #fff;
    transition: 0.5s ease-in-out; }
  footer i.fa:hover {
    color: #00b5f0;
    transform: scale(1.5); }

@media (max-width: 50rem) {
  header {
    padding: 0; }
    header ul {
      flex-direction: column; }
    header .brand {
      margin-left: 1rem; }
  main {
    flex-direction: column; }
  .bio {
    margin-top: 0.5rem; }
  #sidebar img {
    width: 30%;
    height: 30%; }
  .divider {
    display: flex;
    align-self: center;
    width: 80vw;
    background: #333;
    border: 0.0625rem solid #333; }
  #about .btn {
    font-size: 0.7rem; }
  #about {
    order: 0; }
  #projects {
    order: 1; }
  #projects .grid {
    flex-direction: column; }
  #projects .grid img {
    max-width: 80vw; }
  #blog .grid img {
    width: 80vw; }
  #contact p {
    font-size: 1.5rem;
    padding: 0 1rem 2rem; }
  #contact textarea {
    max-width: 90vw; } }

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  padding: 0;
  margin: -0.625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75rem 1rem;
  line-height: 1rem;
  font-size: 1rem;
  color: #fff; }

.menu-toggle:hover,
.menu-toggle:focus {
  color: #00b5f0; }

/*
     Default styles + Mobile first
     Offscreen menu style
    */
.main-menu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999; }

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5rem 0 0;
  /* Hide shadow w/ -0.5rem while 'closed' */
  -webkit-box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43, 0.85);
  -moz-box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43, 0.85);
  box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43, 0.85);
  min-height: 100%;
  width: 12.5rem;
  background: #1d1e2b; }

.main-menu a {
  display: block;
  padding: .75rem 1rem;
  line-height: 1rem;
  color: #fff;
  text-decoration: none; }

.main-menu a:hover,
.main-menu a:focus {
  background: #1d1e2b; }

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0; }

/*
     On small devices, allow it to toggle...
    */
/*
     :target for non-JavaScript
     aria-expanded="true/false" will be for JavaScript
    */
.main-menu:target,
.main-menu[aria-expanded="true"] {
  right: 0;
  outline: none;
  -moz-box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43, 0.85);
  -webkit-box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43, 0.85);
  box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43, 0.85); }

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001; }

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000; }

/* 
     We could use `.main-menu:target:after`, but
     it wouldn't be clickable.
    */
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #1d1e2b;
  background: rgba(29, 30, 43, 0.85);
  cursor: default; }

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed; } }

/*
     Larger screen styling
     Horizontal menu
    */
@media (min-width: 50rem) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none; }
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    right: auto;
    top: auto;
    height: auto; }
  .main-menu ul {
    display: flex;
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none; }
  .main-menu a {
    color: #fff;
    border: 0 !important;
    /* Remove borders from off-canvas styling */ }
  .main-menu a:hover,
  .main-menu a:focus {
    background: none;
    /* Remove background from off-canvas styling */
    color: #00b5f0; } }

@media (max-width: 50rem) {
  .main-menu {
    right: -12.5rem; } }
