@keyframes bounceup {
  0% {
    transform: translateY(-0.5rem); }
  25% {
    transform: translateY(-1rem); }
  50% {
    transform: translateY(-0.5rem); }
  75% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(-0.5rem); } }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --base-font-size: 1rem; }

html, body {
  font: normal 1rem/1.5 "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee; }

figure {
  display: flex;
  flex-direction: column;
  align-items: center; }
  figure a.link-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0; }
  figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center; }

.btn {
  background-color: #fff;
  color: #333;
  padding: 1rem;
  border: 0.2rem solid #11c3ff;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  transition: 0.5s ease-in-out; }
  .btn:hover, .btn:focus, .btn:active, .btn:target {
    border: 0.2rem solid #fff;
    background: #11c3ff;
    color: #fff; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  font-size: 1rem;
  margin: 1rem; }
  .card h3 {
    text-align: center;
    font-size: 1.33rem;
    padding: 0 0 0.5rem; }
  .card p {
    width: 50%;
    padding-bottom: 0.5rem; }

header {
  position: fixed;
  background: linear-gradient(to bottom, #313439 0%, #000c11 100%);
  color: #fff;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5rem solid #006C90;
  z-index: 99; }
  header .brand {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem; }
    header .brand h1 {
      font-size: 1rem; }
    header .brand a {
      display: flex;
      transition: 0.5s ease-in-out; }
    header .brand a:hover {
      transform: scale(1.2); }
  header a {
    color: #fff;
    padding: 1rem;
    transition: 0.5s ease; }
    header a .menu-toggle {
      display: inline-block;
      padding: .75rem 1rem;
      line-height: 1rem;
      font-size: 1rem;
      color: #fff; }
      header a .menu-toggle:hover, header a .menu-toggle:focus {
        color: #11c3ff; }
  header ul {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #313439 0%, #000c11 100%);
    height: 100%;
    border-bottom-left-radius: 1rem;
    list-style: none;
    margin: 0;
    padding: 3.5rem 0;
    box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43, 0.85); }
    header ul li {
      width: 100%;
      font-size: 1.33rem;
      opacity: 0.75;
      border-right: 0.125rem solid #555;
      border-bottom: none;
      border-top: none;
      padding: 1rem;
      transition: 0.5s ease-in-out; }
      header ul li:first-of-type {
        border-left: 0.125rem solid #555; }
      header ul li:last-of-type {
        margin-right: 3rem; }
      header ul li:hover {
        color: #11c3ff;
        background: #000;
        opacity: 1;
        border: 0.0625rem solid #11c3ff;
        border-bottom: none;
        border-top: none; }
        header ul li:hover a {
          color: #11c3ff; }
  header .sr-only {
    position: absolute;
    width: 0.625rem;
    height: 0.625rem;
    padding: 0;
    margin: -0.625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    opacity: 0; }

nav {
  position: absolute;
  right: -12.75rem;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  z-index: 999; }
  nav .menu-close {
    position: absolute;
    right: 1rem;
    top: 0; }
  nav:target, nav[aria-expanded="true"] {
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43, 0.85);
    outline: none;
    right: -1.5rem; }
  nav:target .menu-close,
  nav[aria-expanded="true"] .menu-close {
    z-index: 1001; }
  nav:target ul,
  nav[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000; }
  nav:target + .backdrop,
  nav[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: rgba(29, 30, 43, 0.7);
    cursor: default; }

@supports (position: fixed) {
  nav,
  nav:target + .backdrop,
  nav[aria-expanded="true"] + .backdrop {
    position: fixed; } }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 25rem;
  position: relative;
  z-index: 1; }
  main .main-bg-clip {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff 0%, #eee 70%, #ddd 100%);
    transform: skewY(-3deg); }

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  top: 40vh;
  background: linear-gradient(to bottom right, #313439 0%, #000c11 100%);
  color: #fff;
  text-align: center;
  border: 0.0625rem solid #000;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  margin: 0 2rem 0;
  box-shadow: 0 0 0.5rem #000; }
  #sidebar .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem; }
    #sidebar .bio h2 {
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      padding: 0.7rem 0;
      margin-top: -3rem; }
    #sidebar .bio h3 {
      font-size: 1.5rem; }
    #sidebar .bio img {
      position: relative;
      top: -4.5rem;
      width: 40%;
      border: 0.25rem double #000c11;
      border-bottom: 0.25rem solid #000c11;
      border-radius: 50%;
      transition: 0.5s ease-in-out; }
      #sidebar .bio img:hover {
        transform: scale(1.1); }
  #sidebar ul {
    display: flex; }
    #sidebar ul li {
      margin: 1rem; }
    #sidebar ul i.fa {
      color: #fff;
      transition: 0.5s ease-in-out; }
      #sidebar ul i.fa:hover {
        color: #11c3ff;
        transform: scale(1.2); }
  #sidebar #about {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #sidebar #about h3 {
      font-size: 2rem; }
    #sidebar #about p {
      font-size: 1.25rem;
      padding: 1rem 2rem; }

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50vh;
  flex: 3; }
  #projects h2 {
    color: #006C90;
    background: linear-gradient(to bottom, #006C90 0%, #1d1e2b 20%, #006C90 30%, #1d1e2b 60%, #006C90 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.33rem;
    padding: 1rem 0; }
  #projects .grid {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #projects .grid .card {
      margin: 2rem 1rem 0;
      height: auto;
      max-width: 90vw; }
      #projects .grid .card figure {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #projects .grid .card figure a {
          display: flex;
          flex-direction: column;
          align-items: center; }
          #projects .grid .card figure a h3 {
            color: #006C90;
            font-size: 2.25rem; }
          #projects .grid .card figure a img, #projects .grid .card figure a #canvasPort {
            background: #ccc;
            position: relative;
            top: 0;
            width: 100%;
            height: auto;
            padding: 0;
            margin: 1rem 0;
            border-radius: 3rem;
            transition: 0.5s ease-in-out;
            box-shadow: 0.1rem 0.1rem 0.25rem #636363;
            z-index: 100; }
            #projects .grid .card figure a img:hover, #projects .grid .card figure a #canvasPort:hover {
              top: -0.75rem;
              transform: scale(1.1);
              opacity: 1;
              box-shadow: 0.5rem 0.5rem 1rem #636363; }
          #projects .grid .card figure a canvas#canvasPort {
            background-image: linear-gradient(to bottom right, #52E5E7 10%, #130CB7 100%);
            width: 90vw;
            max-width: 90vw;
            height: 50vh; }
  #projects #githubBtn {
    position: relative;
    top: 0;
    font-size: 1rem;
    max-width: 60vw;
    margin: 3rem 0;
    padding: 1rem;
    border: 0.25rem solid #006C90;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem #636363;
    transition: 0.5s ease-out; }
    #projects #githubBtn a {
      color: #006C90; }
    #projects #githubBtn:hover {
      top: 0.25rem;
      background: #006C90;
      box-shadow: none; }
      #projects #githubBtn:hover a {
        color: #fff; }

#blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000c11;
  color: #333;
  padding: 5rem 0;
  position: relative; }
  #blog .blog-bg-clip {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: skewY(-3deg); }
  #blog h2 {
    margin-top: 3rem;
    position: absolute;
    z-index: 1;
    font-size: 3rem; }
  #blog .blog-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11rem;
    position: relative;
    z-index: 99; }
    #blog .blog-grid li figure {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #blog .blog-grid li figure a {
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: center; }
      #blog .blog-grid li figure h3 {
        color: #006C90; }
      #blog .blog-grid li figure h5 {
        font-size: 0.75rem; }
      #blog .blog-grid li figure p {
        padding: 1rem 0; }
    #blog .blog-grid img {
      width: 100%;
      height: auto;
      max-width: 90vw;
      border-radius: 3rem;
      opacity: 0.6;
      transition: 0.5s ease-in-out; }
      #blog .blog-grid img:hover {
        opacity: 1; }

#blog-post {
  padding: 5rem 0;
  color: #333; }
  #blog-post h1, #blog-post h3, #blog-post p {
    line-height: 1.5;
    padding: 1rem 2rem; }

/* Container for the code block and header */
.code-container {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  border-radius: 0.5rem;
  width: 85vw; }

/* HTML Header */
.html {
  margin: 0;
  padding: 0.25rem 0;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background: #ff9800; }

/* CSS Header */
.css {
  margin: 0;
  padding: 0.25rem 0;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background: #399cbd; }

/* JS Header */
.js {
  margin: 0;
  padding: 0.25rem 0;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background: #ffdb58; }

#css p, #js p {
  line-height: 0.5; }

/* Code on black background */
.code-block {
  padding: 1rem; }

.tag {
  color: #ab875d; }

.class {
  color: #dfc48c; }

.attr {
  color: #8f9c6c; }

.text {
  color: #eee; }

.prop {
  color: #9b869c; }

.value {
  color: #cd6a51; }

.var {
  color: #809bbd; }

.obj {
  color: #96b38a; }

/* Indention Helpers */
.indent-half {
  padding: 0 1rem; }

.indent-1 {
  padding: 0 2rem; }

.indent-2 {
  padding: 0 4rem; }

.lead {
  margin-bottom: 2rem; }

#contact {
  background: #000c11;
  background: radial-gradient(at center bottom, #333440 0%, #000c11 60%);
  padding: 7rem 1rem; }
  #contact h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1; }
  #contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1; }
    #contact form input, #contact form textarea {
      max-width: 80vw;
      width: 80%;
      margin: 1rem;
      padding: 1rem;
      font-size: 1.125rem;
      color: #333;
      border-radius: 1rem; }
      #contact form input:focus, #contact form textarea:focus {
        border: 0.2rem solid #11c3ff; }
    #contact form textarea {
      width: 100%;
      font-family: "Source Sans Pro", sans-serif;
      resize: both;
      overflow: auto; }
    #contact form .btn {
      position: relative;
      top: 0.3rem;
      width: 80%;
      background-color: #fff;
      color: #11c3ff;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      border: 0.2rem solid #11c3ff;
      transition: 0.5s ease-in-out; }
      #contact form .btn:hover, #contact form .btn:focus, #contact form .btn:active, #contact form .btn:target {
        top: 0;
        background: #11c3ff;
        color: #fff;
        border: 0.2rem solid #11c3ff; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #006C90;
  border-top: 0.5rem solid #11c3ff;
  color: #fff;
  padding: 1rem 0 3rem;
  position: relative; }
  footer p {
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
    padding: 0 0.5rem; }
  footer address {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: start;
    padding: 1.5rem 0; }
    footer address span {
      padding: 0.25rem 0; }
  footer ul {
    list-style: none;
    display: flex; }
    footer ul li {
      padding: 0 1rem; }
      footer ul li i.fa {
        color: #fff;
        transition: 0.5s ease-in-out; }
        footer ul li i.fa:hover {
          color: #11c3ff;
          transform: scale(1.25); }
  footer i.fa-angle-up {
    position: relative;
    top: 0.5rem;
    display: inline-block;
    transform: perspective(0.0625rem) translateZ(0);
    box-shadow: 0 0 0.0625rem transparent;
    color: #fff;
    animation: 3s ease-in-out 0.5s infinite forwards alternate bounceup;
    transition: all 0.5s ease-in-out; }
    footer i.fa-angle-up:hover, footer i.fa-angle-up:active, footer i.fa-angle-ups:focus {
      transform: scale(1.1); }

@media (min-width: 80rem) {
  header .brand {
    margin-left: 3rem; }
  header ul {
    flex-direction: row;
    margin-right: 12.5rem; }
  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "sidebar projects projects projects";
    padding-bottom: 10rem; }
    main #sidebar {
      grid-area: sidebar;
      top: -20vh; }
    main #projects {
      grid-area: projects;
      top: 6rem; }
      main #projects .grid {
        flex-flow: row wrap;
        justify-content: space-around; }
        main #projects .grid .card {
          width: 30vw; }
          main #projects .grid .card figure a canvas#canvasPort {
            width: 100%;
            height: 46vh; }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem; }
    footer p {
      font-size: 1.25rem; }
    footer ul li {
      font-size: 1rem;
      padding: 0 1rem; } }

@media (min-width: 60rem) and (max-width: 80rem) {
  header .brand {
    margin-left: 2rem; }
  header ul {
    flex-direction: row;
    margin-right: 12.5rem; }
  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "sidebar projects projects projects";
    padding-bottom: 10rem; }
    main #sidebar {
      top: -15vh; }
    main #projects {
      top: 6rem; }
      main #projects .grid {
        flex-flow: row wrap;
        justify-content: space-around; }
        main #projects .grid .card {
          width: 30vw; }
          main #projects .grid .card figure a canvas#canvasPort {
            width: 100%;
            height: 40vh; } }

@media (min-width: 40rem) and (max-width: 60rem) {
  header .brand {
    display: none; }
  header ul {
    flex-direction: row;
    justify-content: center;
    margin-right: 12.5rem; }
  #projects .grid .card p {
    font-size: 2rem; }
  #projects .grid .card #canvasPort {
    width: 100%;
    height: auto; }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem; } }

@media (max-width: 25rem) {
  #projects .grid img {
    width: 70vw; }
  #projects .grid #canvasPort {
    width: 70vw;
    height: 50vh; } }

@media (min-width: 40rem) {
  .menu-toggle,
  nav .menu-close {
    display: none; }
  nav {
    position: relative;
    top: auto;
    height: auto;
    right: -12.6rem; }
    nav ul {
      background: none;
      display: flex;
      padding: 0;
      box-shadow: none;
      height: auto;
      width: auto; }
    nav a {
      color: #fff;
      border: 0; }
      nav a:hover, nav a:focus {
        background: #000;
        color: #11c3ff; } }

@media (min-width: 60rem) {
  #projects .grid .card {
    width: 30vw; }
  #blog .blog-grid {
    flex-flow: row wrap;
    justify-content: space-around; }
    #blog .blog-grid img {
      width: 40vw;
      height: 50vh; }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem; }
    footer p {
      font-size: 1.25rem;
      padding: 0 0 1rem; }
    footer ul li {
      font-size: 1rem;
      padding: 0 1rem; }
    footer address {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      footer address span {
        padding: 0 1rem; } }
