*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 0 0 25rem; }
  main .main-bg-clip {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff 0%, #eee 70%, #ddd 100%);
    transform: skewY(-3deg); }

.btn {
  background-color: #fff;
  color: #333;
  padding: 1rem;
  border: 0.1rem solid #666;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 0.2rem solid #00b5f0;
  transition: 0.5s ease-in-out; }
  .btn:hover, .btn:focus, .btn:active, .btn:target {
    border: 0.2rem solid #fff;
    background: #00b5f0;
    color: #fff; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
  font-size: 1rem;
  margin: 0 1rem 1rem; }
  .card h3 {
    font-size: 1.33rem;
    padding: 0 0 1rem; }
  .card img, .card canvas {
    max-width: 75%;
    padding: 1rem;
    border-radius: 10%; }

header {
  position: fixed;
  background: linear-gradient(to bottom, #313439 0%, #1d1e2b 100%);
  color: #fff;
  width: 100vw;
  border-bottom: 0.5rem solid #006C90;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99; }
  header .brand {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem; }
    header .brand h1 {
      font-size: 1rem; }
    header .brand a {
      display: flex;
      transition: 0.5s ease-in-out; }
    header .brand a:hover {
      transform: scale(1.3); }
  header a {
    color: #fff;
    padding: 1rem;
    transition: 0.5s ease; }
  header a:hover {
    color: #00b5f0; }
  header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43, 0.85);
    height: 100%;
    background: linear-gradient(to bottom, #313439 0%, #1d1e2b 100%); }
  header li {
    padding: 1rem;
    font-size: 1.33rem;
    opacity: 0.75;
    border: 0.125rem solid #555;
    border-bottom: none;
    border-top: none;
    transition: 0.5s ease-in-out; }
  header li:hover {
    color: #00b5f0;
    background: #000;
    opacity: 1;
    border: 0.125rem solid #00b5f0;
    border-bottom: none;
    border-top: none; }
    header li:hover a {
      color: #00b5f0; }
  header li:last-of-type {
    margin-right: 3rem; }
  header .sr-only {
    position: absolute;
    width: 0.625rem;
    height: 0.625rem;
    padding: 0;
    margin: -0.625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    opacity: 0; }

header a .menu-toggle {
  display: inline-block;
  padding: .75rem 1rem;
  line-height: 1rem;
  font-size: 1rem;
  color: #fff; }
  header a .menu-toggle:hover, header a .menu-toggle:focus {
    color: #00b5f0; }

nav {
  position: absolute;
  right: -12.75rem;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  z-index: 999; }
  nav ul {
    padding: 3.5rem 0; }
    nav ul li {
      width: 100%; }
  nav:target, nav[aria-expanded="true"] {
    right: -1.5rem;
    outline: none;
    box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43, 0.85); }

nav .menu-close {
  position: absolute;
  right: 1rem;
  top: 0; }

nav:target .menu-close,
nav[aria-expanded="true"] .menu-close {
  z-index: 1001; }

nav:target ul,
nav[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000; }

nav:target + .backdrop,
nav[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(29, 30, 43, 0.7);
  cursor: default; }

@supports (position: fixed) {
  nav,
  nav:target + .backdrop,
  nav[aria-expanded="true"] + .backdrop {
    position: fixed; } }

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 30vh;
  background: radial-gradient(at center bottom, #333440 0%, #1d1e2b 60%);
  color: #fff;
  flex: 1;
  text-align: center;
  border: 0.0625rem solid #000;
  border-radius: 3rem;
  padding-bottom: 0.5rem;
  margin: 0 2rem;
  height: 55%;
  box-shadow: 0 0 0.5rem #000; }
  #sidebar ul {
    display: flex; }
  #sidebar li {
    margin: 1rem; }
  #sidebar i.fa {
    color: #fff;
    transition: 0.5s ease-in-out; }
    #sidebar i.fa:hover {
      color: #00b5f0;
      transform: scale(1.3); }

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem; }
  .bio h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 0.7rem 0;
    margin-top: -3rem; }
  .bio h3 {
    font-size: 1.5rem; }
  .bio img {
    position: relative;
    top: -4.5rem;
    width: 40%;
    opacity: 1;
    border: 0.25rem double #006C90;
    border-bottom: 0.25rem solid #1d1e2b;
    border-radius: 50%;
    transition: 0.5s ease-in-out; }
    .bio img:hover {
      transform: scale(1.1); }

#about {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #about h3 {
    font-size: 2rem; }
  #about p {
    font-size: 1.33rem;
    padding: 1rem 2rem;
    line-height: 1.5; }

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20rem;
  flex: 3; }
  #projects h2 {
    color: #006C90;
    background: linear-gradient(to bottom, #006C90 0%, #1d1e2b 10%, #006C90 20%, #1d1e2b 60%, #006C90 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.33rem;
    padding: 1rem 0; }
  #projects h3 {
    color: #006C90;
    font-size: 2.67rem; }
  #projects h4 {
    position: relative;
    top: 0;
    font-size: 1.5rem;
    max-width: 90vw;
    margin: 3rem 0;
    padding: 1rem;
    border: 0.25rem solid #006C90;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem #636363;
    transition: 0.5s ease-out; }
    #projects h4 a {
      color: #006C90; }
    #projects h4:hover {
      top: 0.25rem;
      background: #006C90;
      box-shadow: none; }
      #projects h4:hover a {
        color: #fff; }
  #projects .grid {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #projects .grid .card {
      margin-top: 2rem; }
    #projects .grid img, #projects .grid #canvasPort {
      position: relative;
      top: 0;
      width: 50vw;
      height: 50vh;
      max-width: 90vw;
      padding: 0;
      margin: 1rem;
      border-radius: 3rem;
      transition: 0.5s ease-in-out;
      box-shadow: 0.1rem 0.1rem 0.25rem #636363;
      z-index: 100; }
      #projects .grid img:hover, #projects .grid #canvasPort:hover {
        top: -0.75rem;
        transform: scale(1.1);
        opacity: 1;
        box-shadow: 0.5rem 0.5rem 1rem #636363; }
    #projects .grid #canvasPort {
      background-image: linear-gradient(to bottom right, #52E5E7 10%, #130CB7 100%); }

#blog {
  position: relative;
  background: #1d1e2b;
  color: #333;
  padding: 5rem 0; }
  #blog .blog-bg-clip {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: skewY(-3deg); }
  #blog h2 {
    margin-top: 3rem;
    position: absolute;
    z-index: 1;
    font-size: 3rem; }
  #blog .blog-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11rem;
    position: relative;
    z-index: 99; }
    #blog .blog-grid li {
      margin: 1rem; }
    #blog .blog-grid img {
      width: 80vw;
      height: 50vh;
      max-width: 90vw;
      border-radius: 3rem;
      opacity: 0.6;
      transition: 0.5s ease-in-out; }
      #blog .blog-grid img:hover {
        opacity: 1; }

#blog-post {
  padding-top: 5rem;
  color: #333; }
  #blog-post h1, #blog-post h3, #blog-post p {
    line-height: 1.5;
    padding: 1rem 5rem; }

/* Container for the code block and header */
.code-container {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  border-radius: 0.5rem;
  width: 75vw;
  margin: 2rem; }

/* HTML Header */
.html {
  background: #ff9800;
  margin: 0;
  padding: 0.25rem 2rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem; }

/* CSS Header */
.css {
  background: #399cbd;
  margin: 0;
  padding: 0.25rem 2rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem; }

/* JS Header */
.js {
  background: #ffdb58;
  margin: 0;
  padding: 0.25rem 2rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem; }

#css p, #js p {
  line-height: 0.5; }

/* Code on black background */
.code-block {
  padding: 1rem 3rem; }

.tag {
  color: #ab875d; }

.class {
  color: #dfc48c; }

.attr {
  color: #8f9c6c; }

.text {
  color: #eee; }

.prop {
  color: #9b869c; }

.value {
  color: #cd6a51; }

.var {
  color: #809bbd; }

.obj {
  color: #96b38a; }

/* Indention Helpers */
.indent-half {
  padding: 0 1rem; }

.indent-1 {
  padding: 0 2rem; }

.indent-2 {
  padding: 0 4rem; }

.lead {
  margin-bottom: 2rem; }

#contact {
  background: #1d1e2b;
  background: radial-gradient(at center bottom, #333440 0%, #1d1e2b 60%);
  padding: 7rem 1rem; }
  #contact p {
    font-size: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1; }
  #contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1; }
    #contact form input, #contact form textarea {
      width: 80%;
      margin: 1rem;
      padding: 1rem;
      font-size: 1.125rem;
      color: #333;
      border-radius: 1rem; }
      #contact form input:focus, #contact form textarea:focus {
        border: 0.2rem solid #00b5f0; }
    #contact form textarea {
      width: 100%;
      resize: both;
      overflow: auto; }
    #contact form .btn {
      position: relative;
      top: 0.3rem;
      width: 80%;
      background-color: #fff;
      color: #00b5f0;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      border: 0.2rem solid #00b5f0;
      transition: 0.5s ease-in-out; }
      #contact form .btn:hover, #contact form .btn:focus, #contact form .btn:active, #contact form .btn:target {
        top: 0;
        background: #00b5f0;
        color: #fff;
        border: 0.2rem solid #00b5f0; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #006C90;
  color: #fff;
  padding: 1rem 0;
  position: relative; }
  footer ul {
    list-style: none;
    display: flex; }
    footer ul li {
      font-size: 0.8rem;
      padding: 0 0.5rem; }
  footer #location {
    display: flex;
    flex-direction: column; }
  footer p {
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: center; }
  footer i.fa {
    color: #fff;
    transition: 0.5s ease-in-out; }
    footer i.fa:hover {
      color: #00b5f0;
      transform: scale(1.25); }

@media (min-width: 80rem) {
  header .brand {
    margin-left: 3rem; }
  header ul {
    flex-direction: row;
    margin-right: 12.5rem; }
  main {
    flex-direction: row;
    padding-bottom: 10rem; }
    main #sidebar {
      top: 0; }
  #projects {
    top: 6rem; }
    #projects .grid {
      flex-flow: row wrap;
      justify-content: space-around; }
      #projects .grid img, #projects .grid #canvasPort {
        width: 20vw;
        height: 40vh; }
  #blog .blog-grid {
    flex-flow: row wrap;
    justify-content: space-around; }
    #blog .blog-grid img {
      width: 40vw;
      height: 50vh; }
  footer p {
    font-size: 1.25rem; }
  footer ul li {
    font-size: 1rem;
    padding: 0 1rem; } }

@media (min-width: 60rem) and (max-width: 80rem) {
  header .brand {
    margin-left: 2rem; }
  header ul {
    flex-direction: row;
    margin-right: 12.5rem; }
  main {
    flex-direction: row;
    padding-bottom: 10rem; }
    main #sidebar {
      top: 0; }
  #projects {
    top: 6rem; }
    #projects .grid {
      flex-flow: row wrap;
      justify-content: space-around; }
      #projects .grid img, #projects .grid #canvasPort {
        width: 20vw;
        height: 40vh; }
  #blog .blog-grid {
    flex-flow: row wrap;
    justify-content: space-around; }
    #blog .blog-grid img {
      width: 40vw;
      height: 50vh; }
  footer p {
    font-size: 1.25rem; }
  footer ul li {
    font-size: 1rem;
    padding: 0 1rem; } }

@media (min-width: 40rem) and (max-width: 60rem) {
  header .brand {
    display: none; }
  header ul {
    flex-direction: row;
    justify-content: center;
    margin-right: 12.5rem; }
  #projects .grid img, #projects .grid #canvasPort {
    width: 50vw;
    height: 70vh; } }

@media (min-width: 40rem) {
  .menu-toggle,
  nav .menu-close {
    display: none; }
  nav {
    position: relative;
    right: auto;
    top: auto;
    height: auto;
    right: -12.6rem; }
    nav ul {
      display: flex;
      padding: 0;
      box-shadow: none;
      height: auto;
      width: auto;
      background: none; }
    nav a {
      color: #fff;
      border: 0; }
      nav a:hover, nav a:focus {
        background: #000;
        color: #00b5f0; } }
