// Variables

$primary-color: #00b5f0;
$secondary-color: #006C90;
$tertiary-color: #1d1e2b;
$font-sans: 'Source Sans Pro', sans-serif;
$font-serif: 'Source Serif Pro', serif;

//Global

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $font-sans;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

textarea {
    width: auto;
}

section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #eee;
    padding: 3rem 0;
    
}

// Classes

.brand {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    margin-left: 3rem;
    
    a {
        display: flex;
        transition: 0.5s ease-in-out;
    }
    
    a:hover {
        transform: scale(1.3);
    }
}

.btn {
    background-color: #fff;
    color: #333;
    padding: 1rem;
    border: 0.1rem solid #666;
    border-radius: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    border: 0.3rem solid $primary-color;
    color: $primary-color;
    transform: scale(1.1);
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #666;
    font-size: 1rem;
    margin: 0 1rem;
    
    h3 {
        font-size: 1.33rem;
        padding: 0 0 1rem;
    }
    
    img {
        max-width:75%;
        padding: 1rem;
        border-radius: 10%;
    }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.divider {
    display: none;
}

// Header Section

header {
    background: $tertiary-color;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.33rem 2rem;
    color: #fff;
    z-index: 99;
    
    h1 {
        font-size: 1rem;
    }
    
    a {
        color: #fff;
        transition: color 0.5s ease;
    }

    a:hover {
        color: $primary-color;
    }
    
    ul {
        display: flex;
        list-style: none;
        margin-right: 3rem;
    }

    li {
        font-size: 1.33rem;
        margin: 0 1rem;
        opacity: 0.75;
        color: #fff;
        transition: 0.5s ease-in-out;
    }
    
    li:hover {
        opacity: 1;
        color: $primary-color;
        transform: scale(1.3);
    }
    
}

main {
    display: flex;
    justify-content: space-around;
    padding: 5rem 0 0 0;
}

// Bio

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
        margin: 1rem 1rem;
    }
}

// Sidebar

#sidebar {
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 2;
    color: #333;
    text-align: center;
    
    
    h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        padding: 0.7rem 0;
    }
    
    h3 {
        font-size: 1rem;
    }
    
    img {
        width: 30%;
        border-radius: 50%;
        display: flex;
        transition: 0.5s ease-in-out;
        opacity: 0.85;
    }
    
    img:hover {
        transform: scale(1.1);
        opacity: 1;
    }
    
    ul {
        display: flex;
    }
    
    li {
        margin: 1rem;
    }
    
    i.fa {
        color: #333;
        transition: 0.5s ease-in-out;
    }
    
    i.fa:hover {
        color: $primary-color;
        transform: scale(1.5);
    }
    
}

// About

#about {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 4rem;
    
    h3 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
    
    .btn {
        font-size: 0.8rem;
        width: 30%;
        align-self: center;
    }
}

// Projects

#projects {

    display: flex;
    flex: 5;
    color: $primary-color;
    
    h2 {
        font-size: 3rem;
    }
    
    .grid {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        
        .card {
            margin-top: 3rem;
        }
        
        img {
            width: 18.75rem;
            height: 18.75rem;
            padding: 0;
            margin: 1rem;
            max-width: 30vw;
            border: 0.0625rem solid #ccc;
            border-radius: 5rem;
            transition: 0.5s ease-in-out;
            opacity: 0.75;
        }
        
        img:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }
    
}

// Blog

#blog {
    background: #efefef;
    color: #333;
    
    h2 {
        font-size: 3rem;
        padding-bottom: 3rem;
    }
    
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        li {
            margin: 1rem;
        }
        
        img {
            width: 40vw;
            height: 50vh;
            border-radius: 0.5rem;
            opacity: 0.6;
            transition: 0.5s ease-in-out;
        }
        
        img:hover {
            opacity: 1;
        }
    }
}

// Contact

#contact {
    
    background: $tertiary-color;
    
    h2 {
       font-size: 4rem; 
       padding: 2rem 0;
    }
    
    p {
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    
    .btn {
        background: #fff;
        width: 80%;
        border-radius: 1rem;
        padding: 1rem;
    }
    
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form input, textarea {
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.125rem;
    color: #555;
    border-radius: 1rem;
}

#contact form textarea {
    width: 100%;
    resize: both;
    overflow: auto;
}

#contact form input:focus, textarea:focus {
    border: 0.2rem solid $primary-color;
}

#contact form .btn {
    width: 80%;
}


//Footer

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $secondary-color;
    color: #fff;
    padding: 1.25rem 0;
    
    ul {
        list-style: none;
        display: flex;
    }
    
    ul li {
        margin-left: 1rem;
    }
    
    p {
        text-transform: uppercase;
        font-size: 0.875rem;
        align-self: center; 
    }
    
    i.fa {
        color: #fff;
        transition: 0.5s ease-in-out;
    }
    
    i.fa:hover {
        color: $primary-color;
        transform: scale(1.5);
    }

}

// Media Queries

@media (max-width: 50rem) {
    header {
        padding: 0rem 1rem;
        ul {
            flex-direction: column;
        }
    }
    
    main {
        flex-direction: column;
    }
    
    .bio {
        margin-top: 0.5rem;
    }
        
    #sidebar img {
            width: 30%;
            height: 30%;
        }
        
    .divider {
        display: flex;
        align-self: center;
        width: 80vw;
        background: #333;
        border: 0.0625rem solid #333;
    }
        
    #about .btn {
        font-size: 0.7rem;
    }
    
    #about {
        order: 0;
    }
    
    #projects {
        order: 1;
    }
    
    #projects .grid {
        flex-direction: column;
    }
    
    #projects .grid img {
        max-width: 80vw;
    }
    
    #blog .grid img {
        width: 80vw;
    }

}


// Animations

    // Mobile Menu

    /* Screen reader only */
    
    .sr-only {
        position: absolute;
        width: 0.625rem;
        height: 0.625rem;
        padding: 0;
        margin: -0.625rem;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    /* Button styling */
    
    .menu-toggle {
        display: inline-block;
        padding: .75rem 1rem;
        line-height: 1rem;
        font-size: 1rem;
        color: #fff;
    }
    
    .menu-toggle:hover,
    .menu-toggle:focus {
        color: $primary-color;
    }

    /*
     Default styles + Mobile first
     Offscreen menu style
    */
    
    .main-menu {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
        box-shadow 0.3s ease;
        z-index: 999;
    }
    
    .main-menu ul {
        list-style: none;
        margin: 0;
        padding: 2.5rem 0 0;
        /* Hide shadow w/ -0.5rem while 'closed' */
        -webkit-box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43,.85);
        -moz-box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43,.85);
        box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43,.85);
        min-height: 100%;
        width: 12.5rem;
        background: $tertiary-color;
    }
    
    .main-menu a {
        display: block;
        padding: .75rem 1rem;
        line-height: 1rem;
        color: #fff;
        text-decoration: none;
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
        background: $tertiary-color;
    }
    
    .main-menu .menu-close {
        position: absolute;
        right: 0;
        top: 0;
    }

    /*
     On small devices, allow it to toggle...
    */
    /*
     :target for non-JavaScript
     aria-expanded="true/false" will be for JavaScript
    */
    
    .main-menu:target,
    .main-menu[aria-expanded="true"] {
      right: 0;
      outline: none;
      -moz-box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43,.85);
      -webkit-box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43,.85);
      box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43,.85);
    }

    .main-menu:target .menu-close,
    .main-menu[aria-expanded="true"] .menu-close {
      z-index: 1001;
    }

    .main-menu:target ul,
    .main-menu[aria-expanded="true"] ul {
      position: relative;
      z-index: 1000;
    }

    /* 
     We could use `.main-menu:target:after`, but
     it wouldn't be clickable.
    */
    
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
      position: absolute;
      display: block;  
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 998;
      background: $tertiary-color;
      background: rgba(29, 30, 43,.85);
      cursor: default;
    }

    @supports (position: fixed) {
        .main-menu,
        .main-menu:target + .backdrop,
        .main-menu[aria-expanded="true"] + .backdrop {
            position: fixed;
      }
    }

    /*
     Larger screen styling
     Horizontal menu
    */

    @media (min-width: 50rem) {
        .menu-toggle,
        .main-menu .menu-close {
          display: none;
        }
  
        /* Undo positioning of off-canvas menu */
      
        .main-menu {
            position: relative;
            right: auto;
            top: auto;
            height: auto;
        }
      
        .main-menu ul {
            display: flex;
    
            /* Undo off-canvas styling */
            
            padding: 0;
            -webkit-box-shadow: none;
               -moz-box-shadow: none;
                    box-shadow: none;
            height: auto;
            width: auto;
            background: none;
        }
  
        .main-menu a {
            color: #fff;
            border: 0 !important; /* Remove borders from off-canvas styling */
        }
  
        .main-menu a:hover,
        .main-menu a:focus {
            background: none; /* Remove background from off-canvas styling */
            color: $primary-color;
          }
          
    }
    
    @media (max-width: 50rem) {
            
        .main-menu {
            right: -12.5rem;
        }    
                
    }
