// Variables

$primary-color: #00b5f0;
$secondary-color: #006C90;
$tertiary-color: #1d1e2b;
$tert-opac: rgba(29,30,43, 0.7);
$primary-bg: radial-gradient(at center bottom, #333440 0%, $tertiary-color 60%);
$header-bg: linear-gradient(to bottom, rgba(49,52,57,1) 0%, $tertiary-color 100%);
$about-bg: linear-gradient(to bottom right, rgba(49,52,57,1) 0%, $tertiary-color 100%);
$border-bg: linear-gradient(to bottom, $secondary-color 0%, $tertiary-color 100%);
$font-sans: 'Source Sans Pro', sans-serif;
$font-serif: 'Source Serif Pro', serif;

// Mixins

@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@mixin btn {
    background-color: #fff;
    color: #333;
    padding: 1rem;
    border: 0.2rem solid $primary-color;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: 0.5s ease-in-out;
}

@mixin code-box {
    margin: 0;
    padding: 0.25rem 0;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem; 
}

//Global

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font: normal 1rem/1.5 $font-sans;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

section {
    @include column;
    color: #eee;
}

figure {
    @include column;
    
    figcaption {
        @include column;
    }
    
}

// Classes

.btn {
    @include btn;
    
    &:hover, &:focus, &:active, &:target {
        border: 0.2rem solid #fff;
        background: $primary-color;
        color: #fff;
    }
    
}

.card {
    @include column;
    color: #333;
    font-size: 1rem;
    margin: 0 1rem 1rem;
    
    h3 {
        text-align: center;
        font-size: 1.33rem;
        padding: 0 0 0.5rem;
    }
    
    p {
        width: 50%;
        padding-bottom: 0.5rem;
    }
    
    img, canvas {
        max-width:75%;
        padding: 1rem;
        border-radius: 10%;
    }
}

// Header Section

header {
    position: fixed;
    background: $header-bg;
    color: #fff;
    width: 100vw;
    border-bottom: 0.25rem solid $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
    .brand {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 1rem;
        
        h1 {
            font-size: 1rem;
        }
        
        a {
            display: flex;
            transition: 0.5s ease-in-out;
        }
        
        a:hover {
            transform: scale(1.2);
        }
    }
    
    a {
        color: #fff;
        padding: 1rem;
        transition: 0.5s ease;
        
        
        .menu-toggle {
            display: inline-block;
            padding: .75rem 1rem;
            line-height: 1rem;
            font-size: 1rem;
            color: #fff;
            
            &:hover,
            &:focus {
                color: $primary-color;
            }
            
        }
        
    }
    
    ul {
        display: flex;
        flex-direction: column;
        background: $header-bg;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 3.5rem 0;
        box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43,.85);
        
        li {
            width: 100%;
            font-size: 1.33rem;
            opacity: 0.75;
            border-right: 0.125rem solid #555;
            border-bottom: none;
            border-top: none;
            padding: 1rem;
            transition: 0.5s ease-in-out;
            
            &:hover {
                color: $primary-color;
                background: #000;
                opacity: 1;
                border: 0.0625rem solid $primary-color;
                border-bottom: none;
                border-top: none;
                
                a {
                    color: $primary-color;
                }
                
            }
            
            &:first-of-type {
                border-left: 0.125rem solid #555;
            }
            
            &:last-of-type {
                margin-right: 3rem;
            }
            
        }
        
    }
    
    .sr-only {
        position: absolute;
        width: 0.625rem;
        height: 0.625rem;
        padding: 0;
        margin: -0.625rem;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
        opacity: 0;
    }
    
}

nav {
    position: absolute;
    right: -12.75rem;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    z-index: 999;
    
    .menu-close {
        position: absolute;
        right: 1rem;
        top: 0;
    }
    
    &:target,
    &[aria-expanded="true"] {
      right: -1.5rem;
      outline: none;
      box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43,.85);
    }
    
    &:target .menu-close,
    &[aria-expanded="true"] .menu-close {
        z-index: 1001;
    }
    
    &:target ul,
    &[aria-expanded="true"] ul {
        position: relative;
        z-index: 1000;
    }
    
    &:target + .backdrop,
    &[aria-expanded="true"] + .backdrop {
        position: absolute;
        display: block;  
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        background: $tert-opac;
        cursor: default;
    }
        
}

@supports (position: fixed) {
    
    nav,
    nav:target + .backdrop,
    nav[aria-expanded="true"] + .backdrop {
        position: fixed;
  }
  
}

// Main 

main {
    @include column;
    position: relative;
    z-index: 1;
    padding: 0 0 25rem;
    
    .main-bg-clip {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#fff 0%, #eee 70%, #ddd 100%);
        transform: skewY(-3deg);
    }
}

// Sidebar

#sidebar {
    @include column;
    flex: 1;
    position: relative;
    top: 35vh;
    background: $about-bg;
    color: #fff;
    text-align: center;
    border: 0.0625rem solid #000;
    border-radius: 1rem;
    padding-bottom: 0.5rem;
    margin: 0 2rem 0;
    box-shadow: 0 0 0.5rem #000;
    
    ul {
        display: flex;
    }
    
    li {
        margin: 1rem;
    }
    
    i.fa {
        color: #fff;
        transition: 0.5s ease-in-out;
        
        &:hover {
            color: $primary-color;
            transform: scale(1.2);
        }
        
    }
    
}

// Bio

.bio {
    @include column;
    padding-bottom: 1rem;
    
    h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        padding: 0.7rem 0;
        margin-top: -3rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    img {
        position: relative;
        top: -4.5rem;
        width: 40%;
        border: 0.25rem double $tertiary-color;
        border-bottom: 0.25rem solid $tertiary-color;
        border-radius: 50%;
        transition: 0.5s ease-in-out;
        
        &:hover {
            transform: scale(1.1);
        }
        
    }
    
}

// About

#about {
    @include column;
    
    h3 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.25rem;
        padding: 1rem 2rem;
    }

}

// Projects

#projects {
    
    @include column;
    position: relative;
    top: 20rem;
    flex: 3;
    
    h2 {
        color: $secondary-color;
        background: linear-gradient(to bottom, #006C90 0%, #1d1e2b 20%, #006C90 30%, #1d1e2b 60%, #006C90 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3.33rem;
        padding: 1rem 0;
    }
    
    h4 {
        position: relative;
        top: 0;
        font-size: 1.5rem;
        max-width: 90vw;
        margin: 3rem 0;
        padding: 1rem;
        border: 0.25rem solid $secondary-color;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem #636363;
        transition: 0.5s ease-out;
        
        a {
            color: $secondary-color;
        }
        
        &:hover {
            top: 0.25rem;
            background: $secondary-color;
            box-shadow: none;
            
            a {
                color: #fff;
            }
        }
        
    }

    .grid {
        @include column;
        
        .card {
            margin-top: 2rem;
            max-width: 30vw;
            
            h3 {
                color: $secondary-color;
                font-size: 2.25rem;
            }
            
        }
        
        img, #canvasPort {
            position: relative;
            top: 0;
            width: 50vw;
            height: 50vh;
            max-width: 90vw;
            padding: 0;
            margin: 1rem;
            border-radius: 3rem;
            transition: 0.5s ease-in-out;
            box-shadow: 0.1rem 0.1rem 0.25rem #636363;
            z-index: 100;
            
            &:hover {
                top: -0.75rem;
                transform: scale(1.1);
                opacity: 1;
                box-shadow: 0.5rem 0.5rem 1rem #636363;
            }
        }
        
        #canvasPort {
            background-image: linear-gradient(to bottom right, #52E5E7 10%, #130CB7 100%);
        }
        
    }
    
}

// Blog

#blog {
    @include column;
    position: relative;
    background: $tertiary-color;
    color: #333;
    padding: 5rem 0;
    
    .blog-bg-clip {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        transform: skewY(-3deg);
    }
    
    h2 {
        margin-top: 3rem;
        position: absolute;
        z-index: 1;
        font-size: 3rem;
    }
    
    .blog-grid {
        @include column;
        margin-top: 11rem;
        position: relative;
        z-index: 99;
        
        li {
            margin: 1rem;
        }
        
        img {
            width: 80vw;
            height: 50vh;
            max-width: 90vw;
            border-radius: 3rem;
            opacity: 0.6;
            transition: 0.5s ease-in-out;
            
            &:hover {
                opacity: 1;
            }
        }
        
    }
    
}

// Blog Post

#blog-post {
    padding: 5rem 0;
    color: #333;
    
    h1, h3, p {
        line-height: 1.5;
        padding: 1rem 2rem;
    }
    
}

// Code Blog Code

/* Container for the code block and header */

.code-container {
  background: rgba(0,0,0,0.85);
  color: #fff;
  border-radius: 0.5rem;
  width: 85vw;
}

/* HTML Header */

.html {
    @include code-box;
    background: #ff9800;
  
}

/* CSS Header */

.css {
    @include code-box;
    background: #399cbd;
}

/* JS Header */

.js {
    @include code-box;
    background: #ffdb58;
}

// Small line-height for CSS and JS boxes

#css, #js {
  
  p {
    line-height: 0.5;
  }
  
}

/* Code on black background */

.code-block {
  padding: 1rem;
}

.tag {
  color: #ab875d;
}

.class {
  color: #dfc48c;
}

.attr {
  color: #8f9c6c;
}

.text {
  color: #eee;
}

.prop {
  color: #9b869c;
}

.value {
  color: #cd6a51;
}

.var {
  color: #809bbd;
}

.obj {
  color: #96b38a;
}

/* Indention Helpers */

.indent-half {
  padding: 0 1rem;
}

.indent-1 {
  padding: 0 2rem;
}

.indent-2 {
  padding: 0 4rem;
}

// spacing helpers

.lead {
  margin-bottom: 2rem;
}

// Contact

#contact {
    
    background: $tertiary-color;
    background: radial-gradient(at center bottom, #333440 0%, $tertiary-color 60%);
    padding: 7rem 1rem;
    
    p {
        font-size: 2rem;
        padding-bottom: 2rem;
        position: relative;
        z-index: 1;
    }
        
    form {
        @include column;
        position: relative;
        z-index: 1;
        
        input, textarea {
            width: 80%;
            margin: 1rem;
            padding: 1rem;
            font-size: 1.125rem;
            color: #333;
            border-radius: 1rem;
            
            &:focus {
                border: 0.2rem solid $primary-color;
            }
            
        }
        
        textarea {
            width: 100%;
            resize: both;
            overflow: auto;
        }
        
        .btn {
            position: relative;
            top: 0.3rem;
            width: 80%;
            background-color: #fff;
            color: $primary-color;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            border: 0.2rem solid $primary-color;
            transition: 0.5s ease-in-out;
            
            &:hover, &:focus, &:active, &:target {
                top: 0;
                background: $primary-color;
                color: #fff;
                border: 0.2rem solid $primary-color;
            }
            
        }
        
    }
    
}

//Footer

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $secondary-color;
    color: #fff;
    padding: 1rem 0;
    position: relative;
    
    ul {
        list-style: none;
        display: flex;
        
        li {
            font-size: 0.8rem;
            padding: 0 0.5rem;
        }
        
    }
    
    address {
        display: flex;
        flex-direction: column;
    }
    
    p {
        text-transform: uppercase;
        font-size: 0.875rem;
        text-align: center;
    }
    
    i.fa {
        color: #fff;
        transition: 0.5s ease-in-out;
        
        &:hover {
            color: $primary-color;
            transform: scale(1.25);
        }
        
    }
    
}

// Media Queries

@media (min-width: 80rem) {
    
    header {
        
        .brand {
            margin-left: 3rem;
        }
        
        ul {
            flex-direction: row;
            margin-right: 12.5rem;        }
        }
    
    main {
        flex-direction: row;
        padding-bottom: 10rem;
        
        #sidebar {
            top: 0;
        }
    }
    
    #projects {
        top: 6rem;
    
        .grid {
            flex-flow: row wrap;
            justify-content: space-around;
            
            img, #canvasPort {
                width: 20vw;
                height: 40vh;
            }
            
        }
    
    }
    
    #blog .blog-grid {
        flex-flow: row wrap;
        justify-content: space-around;
        
        img {
            width: 40vw;
            height: 50vh;
        }
        
    }
    
    footer {
        
        p {
            font-size: 1.25rem;
        }
        
        ul {
            
            li {
                font-size: 1rem;
                padding: 0 1rem;
            }
            
        }
        
    }
    
}

@media (min-width: 60rem) and (max-width: 80rem) {
    
    header {
        
        .brand {
            margin-left: 2rem;
        }
        
        ul {
            flex-direction: row;
            margin-right: 12.5rem;
        }
        
    }
    
    main {
        flex-direction: row;
        padding-bottom: 10rem;
        
        #sidebar {
            top: 0;    
        }
        
    }
    
    #projects {
        top: 6rem;
    
        .grid {
            flex-flow: row wrap;
            justify-content: space-around;
            
            img, #canvasPort {
                width: 20vw;
                height: 40vh;
            }
            
        }
    
    }
    
    #blog .blog-grid {
        flex-flow: row wrap;
        justify-content: space-around;
        
        img {
            width: 40vw;
            height: 50vh;
        }
        
    }
    
    footer {
        
        p {
            font-size: 1.25rem;
        }
        
        ul {
            
            li {
                font-size: 1rem;
                padding: 0 1rem;
            }
            
        }
        
    }
    
}

@media (min-width: 40rem) and (max-width: 60rem) {
    
    header {
        
        .brand {
            display: none;
        }
        
        ul {
            flex-direction: row;
            justify-content: center;
            margin-right: 12.5rem;
        }
        
    }
    
    #projects .grid {
        
        img, #canvasPort {
            width: 50vw;
            height: 70vh;
        }
        
    }
    
}

@media (min-width: 40rem) {
    
    .menu-toggle,
    nav .menu-close {
      display: none;
    }
  
    nav {
        position: relative;
        right: auto;
        top: auto;
        height: auto;
        right: -12.6rem;
        
        ul {
            display: flex;
            padding: 0;
            box-shadow: none;
            height: auto;
            width: auto;
            background: none;
        }
        
        a {
            color: #fff;
            border: 0;
            
            &:hover,
            &:focus {
                background: #000;
                color: $primary-color;
            }
            
        }
  
    }
      
}